In [3]:
def printme(name,age=22):
    print("my name is ",name,"my age is",age)
printme("john")

my name is  john my age is 22

In [2]:
for i in range(0,5):
    for j in range(i):
        print(i, end='')
    print()

1
22
333
4444

In [6]:
n = int(input())
reverse= 0
while n!=0:
 reverse= reverse*10+n%10
 n=(n//10)
print(reverse)

456
654

In [12]:
i= 0
result= 0
n = int(input())
nu1= n
temp = n
while n!=0:
    n=(n//10)
    i= i+1
while nu1!=0:
    n= nu1%10
    result= result+pow(n,i)
    nu1=nu1//10
if temp==result:
    print("armstrong")
else:
    print("not")

153
armstrong

In [28]:
i, temp=0,0
n= int(input())
for i in range(2,n//2):
    if n%i ==0:
        temp=1
        break
if temp==1:
    print("not prime")
else:
    print("prime")

3
prime

In [31]:
unicode=("\u2665")
print(unicode)

â™¥

In [37]:
for i in range(0,5):
    for j in range(0,i-1):
        print('*',end="")
    print()

*
**
***

In [41]:
fruit= ["Apple"]
fil = filter(lambda x:x[0]=='A',fruit)
fil1 =map(lambda x:x[0]=='A',fruit)
print(list(fil))
print(list(fil1))

['Apple']
[True]

In [52]:
def reverselist(lst):
    if not lst:
        return []
    return [lst[-1]]+reverselist(lst[:-1])
print(reverselist([1,2,3,4,5]))

[5, 4, 3, 2, 1]

In [53]:
def fib(n):
    p,q = 0,1
    while(p<n):
        yield p
        p, q = q, p+q
x = fib(10)
for i in fib(10):
    print(i)

0
1
1
2
3
5
8

In [55]:
def rev1(str):
    str1=''
    for i in str:
        str1= i+str1
    return str1
str ="java"
print(rev1(str))

avaj

In [56]:
lst = [1,2,3,4,4]
ls1= set(lst)
ls1.remove(max(ls1))
print(max(ls1))

3

In [59]:
def fib(n):
    if n<0:
        print("no")
    elif n ==0:
        return(0)
    elif n==1:
        return 1
    else:
        return(fib(n-1)+fib(n-2))
print(fib(12))

144

In [64]:
def table(n):
    for i in range(1,11):
        yield n*i
        i=i+1
    for i in table(15):
        print(i)

In [65]:
lst=[1,2,4,5,6,7]
n=2
out = [lst[i:i+n] for i in range(0,len(lst),n)]
print(out)

[[1, 2], [4, 5], [6, 7]]

In [69]:
def swap(sample):
    size=len(sample)
    temp=sample[0]
    sample[0]=sample[size-1]
    sample[size-1]= temp
    return sample
sample=int(input())
print(sample)

[1,2,3]

ValueError: invalid literal for int() with base 10: '[1,2,3]'

In [72]:
import numpy as np
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [86]:
import pandas as pd
india ={'bangalore':['green'],'delhi':['red']}
color={'blue':['hi'],'green':['bye']}
df1= pd.DataFrame(india)
df2=pd.DataFrame(color)
df3=pd.concat([df1,df2],axis=0)
df3

  bangalore delhi blue green
0     green   red  NaN   NaN
0       NaN   NaN   hi   bye

In [11]:
n= int(input())
reverse = 0
while n!= 0:
    reverse = reverse*10+n%10
    n = (n//10)
print(reverse)

151
151